.footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: flex-start;
  background-color: $colorBackground;
  padding: 15rem 15rem 3rem;
}
.footer-social {
  height: auto;
  &__img {
    width: 104px;
    height: 24px;
  }
  &__text {
    font-size: 16px;
    line-height: $lineHeight;
    color: $colorGrey;
  }
  &__copy {
    display: block;
    font-size: 16px;
    color: $colorGrey;
    margin-top: 3rem;
  }
}
.footer-social__media {
  width: 50%;
  display: flex;
  justify-content: space-between;
  color: $colorRed;
  padding-top: 3rem;
  & i {
    width: 40px;
    height: 40px;
    padding: 14px 14px 16px 14px;
    border: 1px solid transparent;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0px 12px 49px -8px rgb(0 0 0 / 68%);
    -webkit-box-shadow: 0px 12px 49px -8px rgb(0 0 0 / 68%);
    -moz-box-shadow: 0px 12px 49px -8px rgb(0 0 0 / 68%);
  }
}
.footer-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.footer-info__list {
  & span {
    display: block;
    font-size: 18px;
    line-height: 30px;
    padding-bottom: 2rem;
  }
  & li {
    padding-bottom: 1rem;
  }
}
