.header-nav {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  margin: 2rem 15rem;
}
.header-nav__ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 16px;
  &-a {
    color: $colorGrey;
  }
}

.header-nav__btn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 4rem;
  & button:first-child {
    font-size: 16px;
    font-weight: 700;
    background-color: $colorWhite;
    color: $colorBlack;
    border: none;
  }
  & button:nth-child(2) {
    background-color: $colorWhite;
    border: 1px solid $colorRed;
    border-radius: 5rem;
    font-size: 16px;
    font-weight: 700;
    color: $colorRed;
    padding: 10px 30px;
    &:hover {
      background-color: $colorRed;
      color: white;
      transition: 0.5s;
    }
  }
}
.header-nav__logo {
  margin: auto 0;
  & img {
    width: 10.4rem;
  }
}
