.huge{
    width: 100%;
    background-color: $colorBackground;
    display: grid;
    place-content: center;
    text-align: center;
    padding-top: 5rem;
    &-title{
        @include title;
    }
    &-paragraph{
        @include paragraph;
    }
    &-images{
        background-color: $colorWhite;
        padding: 3rem 15rem;
    }
}