.main__content{
    width: 90%;
    height: auto;
    margin: 1rem auto;
}
.about{
    height: 40rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 14rem 6.5rem 9rem;
    grid-gap: 1.5rem;
    padding-top: 5rem;
    margin-bottom: 2rem;
}

.about__title,
.about__paragraph,
.about__button{
    grid-column: 1;
}
.about__title{
    font-size: 4.3rem;
    font-weight: 500;
    line-height: 7rem;
}
.about__paragraph{
    @include paragraph()
}
.about__button{
    @include button
}
.about__image{
    width: 100%;
    grid-column: 2;
    grid-row: 1;
}
.wrapper{
    width: 100%;
    height: 14rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 10rem 0 5rem;
    box-shadow: 0px 31px 67px -46px $color-grey;
    -webkit-box-shadow: 0px 31px 67px -46px $color-grey;
    -moz-box-shadow: 0px 31px 67px -46px $color-grey;
}
.wrapper__content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper__text{
    display: flex;
    flex-direction: column;
    strong{
        font-weight: 700;
        font-size: 2rem;
        line-height: 3rem;
    }
    span{
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 1rem;
        color: $color-grey;
    }
}
.main__features{
    width: 100%;
    height: 50rem;
    padding-top: 5rem;
    img{
        width: 100%;
        height: 40rem;
        grid-row: 1;
    }
}
.features__title,
.features__paragraph,
.features__list{
    grid-column: 2;
}

.features{
    height: 40rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 14rem 6.5rem 9rem;
    grid-gap: 1.5rem;
    padding-top: 5rem;
    margin-bottom: 2rem;
}
.features__title{
    @include title
}
.features__paragraph{
    @include paragraph
}
.features__list{
    @include paragraph;
    font-size: 1.4rem;
    padding-left: 2rem;
    li{
        list-style-image:url('/src/public/assets/icons/check.png');
        
    }
}




