.pricing {
  width: 100%;
  height: auto;
  margin-top: 10rem;
  background-color: $colorBackground;
  &-text {
    display: grid;
    place-content: center;
    grid-template-columns: 40%;
    text-align: center;
    &__title {
      @include title;
      text-align: center;
      padding: 5rem 0 2rem;
    }
    &__paragraph {
      @include paragraph;
    }
  }
}
.pricing-cards {
  margin: 5rem 15rem;
  display: flex;
  justify-content: space-between;
}
.pricing-card {
  display: grid;
  place-items: center;
  grid-template-rows: 32% 5% 32% 18%;
  width: 330px;
  height: 760px;
  border: 1px solid #dddddd;
  border-radius: 1rem;
  background-color: $colorWhite;
  &:hover {
    border: 2px solid $colorRed;
    transition: 0.1s ease-in;
  }
  &__img {
    width: 144px;
    height: 165px;
    margin-top: 2rem;
  }
  &__title {
    font-size: 18px;
    line-height: $lineHeight;
    color: $colorBlack;
  }
  &__list {
    font-size: 14px;
    line-height: 30px;
    color: $colorGrey;
    & li::before {
      content: url("/src/public/assets/icons/Vector.svg");
      padding-right: 2rem;
    }
  }
  & span {
    font-size: 25px;
    display: inline-flex;
    color: $colorBlack;
    & p {
      color: $colorGrey;
    }
  }
  &__button {
    width: 177px;
    height: 45px;
    border: 1px solid;
    border-radius: 50px;
    background-color: transparent;
    font-size: 18px;
    font-weight: 700;
    color: $colorRed;
  }
}
