.testimonial {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.testimonial-text {
  text-align: center;
  width: 35%;

  &__title {
    @include title;
  }
  &__paragraph {
    @include paragraph;
  }
}
.testimonial-cards {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.testimonial-card {
  width: 400px;
  height: 230px;
  border: 1px solid #dddddd;
  border-radius: 1rem;
  padding: 20px 30px 25px;
  color: $colorBlack;
  &:hover{
    border: 1px solid $colorRed;
    transition: .3s ease-in;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    & i {
      display: inline-block;
      background-image: url("/src/public/assets/icons/star.svg");
      width: 12px;
      height: 12px;
      background-position: center;
      margin-left: 10px;
      background-repeat: no-repeat;
    }
    &-stats{
        display: flex;
    }
  }
  &__header-title {
    font-size: 18px;
    line-height: 15px;
    display: flex;
    flex-direction: column;
    padding-right: 10rem;
  }
  &__header-subtitle {
    font-size: 14px;
    line-height: 15px;
    color: $colorGrey;
  }

  &__paragraph {
    font-size: 16px;
    line-height: $lineHeight;
  }
}
