.header-nav {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  margin: 2rem 15rem;
}

.header-nav__ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 16px;
}
.header-nav__ul-a {
  color: #4F5665;
}

.header-nav__btn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 4rem;
}
.header-nav__btn button:first-child {
  font-size: 16px;
  font-weight: 700;
  background-color: #fff;
  color: #0B132A;
  border: none;
}
.header-nav__btn button:nth-child(2) {
  background-color: #fff;
  border: 1px solid #F53855;
  border-radius: 5rem;
  font-size: 16px;
  font-weight: 700;
  color: #F53855;
  padding: 10px 30px;
}
.header-nav__btn button:nth-child(2):hover {
  background-color: #F53855;
  color: white;
  transition: 0.5s;
}

.header-nav__logo {
  margin: auto 0;
}
.header-nav__logo img {
  width: 10.4rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: "Rubik", sans-serif;
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
}

h1,
h2,
h3 {
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 16px;
  color: #4F5665;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.abouts {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 10rem;
  margin: 10rem 15rem;
}

.about-title {
  font-size: 50px;
  line-height: 70px;
  font-weight: 500;
  color: #0B132A;
}
.about-paragraph {
  grid-column: 1;
  font-size: 16px;
  line-height: 30px;
  color: #4F5665;
  padding-bottom: 2rem;
}
.about-button {
  display: block;
  width: 250px;
  height: 60px;
  margin-top: 7rem;
  grid-column: 1;
  background-color: #F53855;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  border: none;
  border-radius: 1rem;
  outline: none;
  box-shadow: 0px 20px 50px -16px #F53855;
  -webkit-box-shadow: 0px 20px 50px -16px #F53855;
  -moz-box-shadow: 0px 20px 50px -16px #F53855;
}

.about-img__image {
  grid-column: 2;
  width: 100%;
}

.about-wrapper {
  position: relative;
  display: grid;
  margin-top: 7rem;
  height: 200px;
  grid-column: 1/3;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  box-shadow: 0px 45px 2px 5px #F5F5F6;
  -webkit-box-shadow: 0px 45px 25px 5px #F5F5F6;
  -moz-box-shadow: 0px 45px 25px 5px #F5F5F6;
}
.about-wrapper__container {
  display: flex;
  width: 160px;
}
.about-wrapper__container img {
  width: 55px;
  height: 55px;
  margin-right: 1rem;
}
.about-wrapper__container-text strong {
  font-size: 25px;
  line-height: 30px;
}
.about-wrapper__container-text span {
  font-size: 20px;
  line-height: 30px;
  color: #4F5665;
}
.about-wrapper__container:nth-child(2)::after {
  content: "";
  display: block;
  position: absolute;
  height: 120px;
  left: 33rem;
  top: 4rem;
  border: 1px solid #F5F5F6;
}
.about-wrapper__container:nth-child(2)::before {
  content: "";
  display: block;
  position: absolute;
  height: 120px;
  right: 33rem;
  top: 4rem;
  border: 1px solid #F5F5F6;
}

.features {
  display: grid;
  grid-template-columns: 50% 50%;
  place-items: center;
  grid-gap: 1rem;
  margin-top: 10rem;
}

.feature-title {
  font-size: 35px;
  line-height: 50px;
  color: #0B132A;
  padding-bottom: 2rem;
  padding-bottom: 2rem;
}
.feature-paragraph {
  font-size: 16px;
  line-height: 30px;
  color: #4F5665;
  padding-bottom: 2rem;
  padding-bottom: 2rem;
}
.feature-list {
  font-size: 14px;
  color: #4F5665;
  padding-top: 1rem;
}
.feature-list li {
  display: flex;
  padding-bottom: 15px;
}
.feature-list li::before {
  content: url(/src/public/assets/icons/check.png);
  padding-right: 8px;
}

.feature-img {
  height: 350px;
}
.feature-img img {
  height: inherit;
}

.pricing {
  width: 100%;
  height: auto;
  margin-top: 10rem;
  background-color: #F5F5F6;
}
.pricing-text {
  display: grid;
  place-content: center;
  grid-template-columns: 40%;
  text-align: center;
}
.pricing-text__title {
  font-size: 35px;
  line-height: 50px;
  color: #0B132A;
  padding-bottom: 2rem;
  text-align: center;
  padding: 5rem 0 2rem;
}
.pricing-text__paragraph {
  font-size: 16px;
  line-height: 30px;
  color: #4F5665;
  padding-bottom: 2rem;
}

.pricing-cards {
  margin: 5rem 15rem;
  display: flex;
  justify-content: space-between;
}

.pricing-card {
  display: grid;
  place-items: center;
  grid-template-rows: 32% 5% 32% 18%;
  width: 330px;
  height: 760px;
  border: 1px solid #dddddd;
  border-radius: 1rem;
  background-color: #fff;
}
.pricing-card:hover {
  border: 2px solid #F53855;
  transition: 0.1s ease-in;
}
.pricing-card__img {
  width: 144px;
  height: 165px;
  margin-top: 2rem;
}
.pricing-card__title {
  font-size: 18px;
  line-height: 30px;
  color: #0B132A;
}
.pricing-card__list {
  font-size: 14px;
  line-height: 30px;
  color: #4F5665;
}
.pricing-card__list li::before {
  content: url("/src/public/assets/icons/Vector.svg");
  padding-right: 2rem;
}
.pricing-card span {
  font-size: 25px;
  display: inline-flex;
  color: #0B132A;
}
.pricing-card span p {
  color: #4F5665;
}
.pricing-card__button {
  width: 177px;
  height: 45px;
  border: 1px solid;
  border-radius: 50px;
  background-color: transparent;
  font-size: 18px;
  font-weight: 700;
  color: #F53855;
}

.huge {
  width: 100%;
  background-color: #F5F5F6;
  display: grid;
  place-content: center;
  text-align: center;
  padding-top: 5rem;
}
.huge-title {
  font-size: 35px;
  line-height: 50px;
  color: #0B132A;
  padding-bottom: 2rem;
}
.huge-paragraph {
  font-size: 16px;
  line-height: 30px;
  color: #4F5665;
  padding-bottom: 2rem;
}
.huge-images {
  background-color: #fff;
  padding: 3rem 15rem;
}

.testimonial {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonial-text {
  text-align: center;
  width: 35%;
}
.testimonial-text__title {
  font-size: 35px;
  line-height: 50px;
  color: #0B132A;
  padding-bottom: 2rem;
}
.testimonial-text__paragraph {
  font-size: 16px;
  line-height: 30px;
  color: #4F5665;
  padding-bottom: 2rem;
}

.testimonial-cards {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.testimonial-card {
  width: 400px;
  height: 230px;
  border: 1px solid #dddddd;
  border-radius: 1rem;
  padding: 20px 30px 25px;
  color: #0B132A;
}
.testimonial-card:hover {
  border: 1px solid #F53855;
  transition: 0.3s ease-in;
}
.testimonial-card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.testimonial-card__header i {
  display: inline-block;
  background-image: url("/src/public/assets/icons/star.svg");
  width: 12px;
  height: 12px;
  background-position: center;
  margin-left: 10px;
  background-repeat: no-repeat;
}
.testimonial-card__header-stats {
  display: flex;
}
.testimonial-card__header-title {
  font-size: 18px;
  line-height: 15px;
  display: flex;
  flex-direction: column;
  padding-right: 10rem;
}
.testimonial-card__header-subtitle {
  font-size: 14px;
  line-height: 15px;
  color: #4F5665;
}
.testimonial-card__paragraph {
  font-size: 16px;
  line-height: 30px;
}

.suscribe {
  width: 1140px;
  height: 223px;
  position: relative;
  bottom: -10rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 45px 2px 5px #F5F5F6;
  -webkit-box-shadow: 0px 45px 25px 5px #F5F5F6;
  -moz-box-shadow: 0px 45px 25px 5px #F5F5F6;
}

.suscribe-text {
  width: 50%;
  height: 50%;
}
.suscribe-text__title {
  font-size: 35px;
  line-height: 50px;
  color: #0B132A;
  padding-bottom: 2rem;
}
.suscribe-text__paragraph {
  font-size: 16px;
  line-height: 30px;
  color: #4F5665;
  padding-bottom: 2rem;
}
.suscribe-text__button {
  width: 250px;
  height: 60px;
  background-color: #F53855;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  border: none;
  border-radius: 1rem;
  box-shadow: 0px 20px 50px -16px #F53855;
  -webkit-box-shadow: 0px 20px 50px -16px #F53855;
  -moz-box-shadow: 0px 20px 50px -16px #F53855;
}

.footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: flex-start;
  background-color: #F5F5F6;
  padding: 15rem 15rem 3rem;
}

.footer-social {
  height: auto;
}
.footer-social__img {
  width: 104px;
  height: 24px;
}
.footer-social__text {
  font-size: 16px;
  line-height: 30px;
  color: #4F5665;
}
.footer-social__copy {
  display: block;
  font-size: 16px;
  color: #4F5665;
  margin-top: 3rem;
}

.footer-social__media {
  width: 50%;
  display: flex;
  justify-content: space-between;
  color: #F53855;
  padding-top: 3rem;
}
.footer-social__media i {
  width: 40px;
  height: 40px;
  padding: 14px 14px 16px 14px;
  border: 1px solid transparent;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0px 12px 49px -8px rgba(0, 0, 0, 0.68);
  -webkit-box-shadow: 0px 12px 49px -8px rgba(0, 0, 0, 0.68);
  -moz-box-shadow: 0px 12px 49px -8px rgba(0, 0, 0, 0.68);
}

.footer-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer-info__list span {
  display: block;
  font-size: 18px;
  line-height: 30px;
  padding-bottom: 2rem;
}
.footer-info__list li {
  padding-bottom: 1rem;
}

/*# sourceMappingURL=main.css.map */
